---
- name: Gather variables for each distribution
  include_vars: "{{ item }}"
  with_first_found:
    - "{{ ansible_distribution | lower }}-{{ ansible_distribution_version | lower }}.yml"
    - "{{ ansible_distribution | lower }}.yml"

- include: corosync_pacemaker_install.yml
- include: corosync_config.yml
- include: pacemaker.yml
- include: pacemaker_resources.yml
  when: ansible_hostname == pacemaker_primary_node