[ml2]
mechanism_drivers = linuxbridge
type_drivers = {{ neutron_provider_networks.network_types }}
{% if neutron_tenant_networks is defined %}
tenant_network_types = {{ neutron_tenant_networks  }}
{% else %}
tenant_network_types = 
{% endif %}
extension_drivers = port_security

[ml2_type_flat]
{% if neutron_provider_networks.neutron_flat_networks %}
flat_networks = {{ neutron_provider_networks.neutron_flat_networks }}
{% endif %}

[ml2_type_vlan]
{% if neutron_provider_networks.neutron_vlan_ranges is defined %}
network_vlan_ranges = {{ neutron_provider_networks.neutron_vlan_ranges }}
{% endif %}

[securitygroup]
enable_ipset = True