export OS_PROJECT_DOMAIN_NAME={{ os_admin_project_domain }}
export OS_USER_DOMAIN_NAME={{ os_admin_user_domain }}
export OS_PROJECT_NAME={{ os_admin_project }}
export OS_USERNAME={{ os_admin_user }}
export OS_PASSWORD={{ os_admin_password }}
export OS_AUTH_URL={{ keystone_service_adminurl }}
export OS_IDENTITY_API_VERSION=3
export OS_IMAGE_API_VERSION=2