totem { 
	version: 2
	secauth: off
	#cluster_name: pacemaker1
	transport: udpu

	interface {
		ringnumber: 0
		bindnetaddr: {{ hostvars[inventory_hostname]['ansible_default_ipv4']['network'] }}
		broadcast: yes
		mcastport: 5404
	}
}

nodelist {
{% for n in groups['controller'] %}
	node { 
		ring0_addr: {{ hostvars[n]['ansible_default_ipv4']['address'] }}
		nodeid: {{ loop.index }}
		name: {{ hostvars[n]['ansible_hostname'] }}
	}
{% endfor %}
}

quorum {
        provider: corosync_votequorum
        wait_for_all: 1
        last_man_standing: 1
        last_man_standing_window: 10000
}